@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.nav-wrapper {
  background-color: #211F1E;
}

#nav-mobile {
  margin-left: 5px;
}

.btn-small {
    height: 36px;
    line-height: 24px;
    padding: 5px;
}

.btn-small-wrapper {
    width: 25px;
}

select {
  display: block;
}

h1 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.2rem;
}

@media (min-width: 993px) {
  .fixed-container {
    margin-left:365px;
  }
}
